.courseItem {
    height: 40px;
    display: grid;
    align-items: center;
    justify-items: left;
    grid-template-columns: 2fr 1fr 1fr;
    background-color: white;
    border: 0;
}

.courseItem > div {
    font-size: 16px;
    padding-left: 15px;
}

.gradeInput {
    width: 20px;
}

.emptySlot {
    padding-left: 20px;
    padding-top: 11px;
    padding-bottom: 11px;
    height: 40px;
    background-color: white;
    border: 0;
}

.courseItem:hover {
    background-color: #f1f5f9;
}

.emptySlot:hover {
    background-color: #f1f5f9;
}

.courseItem:focus, .emptySlot:focus {
    outline: none;
}

.emptySlot:hover::before {
    content: "+";
    font-size: 18px;
    color: gray;
}