.dashboard {
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    grid-area: "dashboard";
    display: grid;
    grid-template-columns: 1250fr 350fr;
    gap: 20px;
}

.projectsContainer {
    display: grid;
    grid-template-rows: 60px 1000px;
}

.projectsHeader > p {
    font-size: 18px;
    font-weight: 500;
    position: relative;
    left: 20px;
    top: 10px;
}

.announcementsHeader > p, .trendingHeader > p {
    font-size: 18px;
    font-weight: 500;
    position: relative;
    top: 10px;
}

.projects {
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
    gap: 40px 40px;
    grid-template: repeat(auto-fill, 250px) / repeat(auto-fill, minmax(350px, 1fr));
    overflow: hidden;
}

.projects > div {
    background-color: white;
    border-radius: 8px;
    box-shadow: 3px 3px 3px #bec8d3;
    border-left: 10px solid #f59e0b;
    display: grid;
    grid-template-rows: 2fr 1fr;
}

.projects > div:hover {
    scale: 1.005;
}

.projectText {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}

.projectHeader {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 4px;
}

.projectDescription {
    font-size: 16px;
    font-weight: 300;
}

.announcementsContainer {
    display: grid;
    grid-template-rows: 60px 325px 60px 325px;
}

.announcements {
    margin-right: 50px;
    background-color: white;
    border-radius: 8px;
    padding: 30px;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    overflow-y: scroll;
    box-shadow: 3px 3px 3px #bec8d3;
}

.announcements > div {
    border-bottom: 1px solid lightgrey;
    padding-left: 5px;
}

.announcements > div > .h {
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 4px;
    padding-top: 10px;
}

.announcements > div > .b {
    font-size: 13px;
    font-weight: 300;
}

.trending {
    margin-right: 50px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 3px 3px 3px #bec8d3;
    padding: 30px;
    display: grid;
    overflow-y: scroll;
}

.trendingHeader {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
}

.add {
    font-size: 22px;
    background-color: transparent;
    border: none;
    color: #a1a1aa;
    position: relative;
    top: 15%;
}

.add:hover {
    scale: 1.1;
}

.trendingContainer {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgrey;
}

.trendingContainer:hover {
    background-color: #f1f5f9;
}

.trendingContainer > div {
    padding-left: 5px;
}

.trendingText {
    font-size: 16px;
    position: relative;
    bottom: 5px;
    padding-top: 10px;
}