.header {
    grid-column: 2 / -1;
    grid-row: 1/ 2;
    grid-area: "header";
    background-color: white;
    display: grid;
    box-shadow: 3px 3px 3px #bec8d3;
}

.search {
    display: grid;
    grid-template-columns: 72fr 5fr 5fr 18fr;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
}

.searchBar {
    padding-left: 50px;
    justify-self: left;
}

.searchBar > svg {
    scale: 1.5;
    padding: 10px;
    position: relative;
    top: 5px;
    right: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.searchBar > svg:hover {
    scale: 1.7;
}

.searchBar > input {
    border: 1px solid black;
    border-radius: 20px;
    width: 400px;
    height: 25px;
    padding-left: 10px;
    position: relative;
    bottom: 8px;
}

.searchBar > input[type="text"]:focus {
    outline: none;
}

.bell > svg {
    scale: 1.4;
    position: relative;
    top: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.bell >svg:hover {
    scale: 1.6;
}

.profileSearch > svg {
    scale: 2.3;
    color: black;
    border-width: 5px;
    border-color: black;
    position: relative;
    top: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.profileSearch > svg:hover {
    scale: 2.4;
}

.name {
    font-size: 18px;
    font-weight: 500;
}

.name:hover {
    font-size: 19px;
}