.courseItem {
    padding-left: 20px;
    padding-top: 11px;
    padding-bottom: 11px;
}

.gradeInput {
    width: 20px;
}

.emptySlot {
    padding-left: 20px;
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: white;
    border: 0;
}

.courseItem:hover {
    background-color: aliceblue;
}

.emptySlot:hover {
    background-color: aliceblue;
}

.emptySlot:hover::before {
    content: "Add course:";
    color: gray;
}

.totals {
    padding-left: 20px;
    height: 30px;
    font-size: 14px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}