.rootContainer {
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    grid-area: "dashboard";
    display: grid;
    grid-template-rows: 70px 30px 100px;
    justify-content: center;
}

.planContainer {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 350px 350px 350px 350px;
    gap: 40px;
}

.planHeader {
    justify-self: left;
}
