.modal::backdrop {
    background: hsl(0 0% 0% / 50%);
  }
  
.modal {
    width: 25rem;
    padding: 2rem;
    border: 0;
    border-radius: 0.5rem;
    position: relative;
    box-shadow: hsl(0 0% 0% / 10%) 0 0 0.5rem 0.25rem;
}

.modalCloseBtn {
    font-size: 1.7em;
    position: absolute;
    top: 0.25em;
    right: 0.25em;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modalCloseBtn:hover {
    scale: 1.05;
}