.term {
    border: 2px black solid;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 60fr 30fr 200fr;
    background-color: white;
    box-shadow: 4px 4px rgb(215, 215, 215);
}

.termHeader {
    padding-left: 20px;
}